*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.artigo1{
    background-color: blue;
    color: white;
    padding: 20px;
}

.artigo2{
    background-color: yellowgreen;
    color: black;
}

.btn{
    width: 60px;
    height: 30px;
    background-color: grey;
    color: black;
    cursor: default;
}